<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConstFuncFormalPara.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PassByReferRetrun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PointerDancing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>References.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>References1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dynallopersist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>new&amp;delete.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pointerYarrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFA61A831DED5D290050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA61A911DED5DDC0050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA61A9C1DED5F770050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA61AA71DED608D0050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA61AB21DED62140050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA61ABD1DED67510050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA61AC81DED69A30050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA61AD31DED6CD50050A59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
